*/target/**
/.idea/
.vscode/
*.iml

.project
.classpath
.settings
*.log

# Owlplug specific
build/input/
build/output/
src/main/resources/credentials.properties

# OwlPlug Host binaries 
*.dll
*.dylib
*.exe

# OwlPlug Host / Juce / C++ files
/owlplug-host/src/main/juce/Builds

# OSX Files
.DS_Store

