.root{
	solid-pane-color: rgb(66,66,66);
	solid-pane-hover-color:rgb(96,96,96);
	disabled-color: rgb(160,160,160);
	danger-color: #d9534f;
	prompt-text-color:#4D4D4D;
	
	theme-primary-color: #FFF58E;
	theme-secondary-color: #FFF0D4;
}

#mainPane{
	-fx-background-color: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.heading-1{
	-fx-font-size: 22px;
	-fx-margin:0,0,8,0;
}

.heading-2{
	-fx-font-size: 20px;
}

JFXDialog{
	-fx-background-color:rgba(0,0,0,0.5);
	
}

JFXDialog Label{
	-fx-text-fill: white;
	
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: solid-pane-color;
    
}

Label{ 
 	-fx-text-fill: white;
}
.label-danger{
	-fx-text-fill:danger-color;
}
.label-disabled{
	-fx-text-fill:disabled-color;
}
.label-dark{
	-fx-text-fill:rgb(40,40,40);
}

Text{ 
 	-fx-fill: white;
}
.text-disabled{
	-fx-fill: disabled-color;
}
JFXTextField{
	-fx-text-fill:white;
	-jfx-focus-color: theme-secondary-color;
}

#storeChipViewContainer {
	-fx-max-height: 32px; /* Temporary fix */
}

.jfx-chip-view {
	-fx-max-height: 32px; /* Temporary fix */

}

.jfx-chip-view .chips-pane {
	-fx-width: infinity;
	-fx-pref-width: infinity;
	-fx-max-height: 32px; /* Temporary fix */
}


.jfx-chip-view .chips-pane .text-area {
	-fx-prompt-text-fill: prompt-text-color;
	-fx-pref-height: 32px;
	-fx-height: 32px;
	-fx-max-height: 32px;
}


.jfx-chip-view .jfx-chip Label {
    -fx-text-fill: black;
}

JFXButton{
	-fx-text-fill:white;
	-fx-background-color:rgba(0,0,0,0.1);
}

.button-danger{
	-fx-background-color:danger-color;
	
}
.button-danger:hover{
	-fx-background-color:#c9302c;
	
}

.button-danger:pressed{
	-fx-background-color:#ac2925;
	
}

.hyperlink-button{
	-fx-underline: false;
	-fx-text-fill: white;
}
.hyperlink-button:hover{
	-fx-underline: false;
	-fx-text-fill: white;
}
.hyperlink-button:visited{
	-fx-underline: false;
	-fx-text-fill: white;
}

.hyperlink-dark{
	-fx-text-fill: rgb(40,40,40);
}


JFXToggleButton{
	-fx-text-fill:white;
}

JFXComboBox{
	-jfx-focus-color: theme-secondary-color;
}

.menu-combobox{
	-fx-background-color:solid-pane-color;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-text-fill: white;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: solid-pane-color ;
    -fx-text-fill: white ;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white ;
    -fx-background-color: solid-pane-hover-color ;
}

.combo-box .list-cell{
	-fx-text-fill: white ;
}

JFXCheckBox {
     -fx-text-fill: white; 
}
JFXCheckBox .box {
     -fx-border-color: white;
}

JFXCheckBox:selected .box{
	-fx-border-color: transparent;
}
 
JFXTreeView{
	-fx-background-color:solid-pane-color;
	-fx-text-fill:white;
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-insets: 0, 1;
    -fx-padding: 1;
}
JFXTreeView:focused{
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	
}

.tree-view, .tree-cell {
    -fx-background-color: solid-pane-color;
    -fx-text-fill: white ;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: white;
}

.tree-cell .selection-bar {
    -fx-background-color: theme-primary-color;
}

.jfx-tab-pane *.tab-header-background{
	-fx-background-color:solid-pane-color;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: theme-primary-color;
}

.no-header-tab-pane {
    -fx-tab-max-height: 0 ;
} 
.no-header-tab-pane > .tab-header-area {
    visibility: hidden ;
}

.jfx-drawer-side-pane {
    -fx-background-color: solid-pane-color;
}

.menu-item:hover{
	-fx-background-color: solid-pane-hover-color;
}

.small-tab-pane *.tab *.tab-label{
	-fx-font-size: 15px;
	-fx-font-weight: normal;
}

JFXListView{
	-fx-background-color: rgba(66,66,66, 0.5);
	-fx-text-fill:white;
	
}
.list-view .list-cell{
	-fx-background-color: rgba(66,66,66, 0.5);
	-fx-text-fill:white;
}
.panel-transparent{
	-fx-background-color: rgba(66,66,66, 0.7);
	-fx-padding:10,10,10,10;
}

.panel-transparent-dark{
	-fx-background-color: rgba(0,0,0, 0.8);
	-fx-padding:10,10,10,10;
}

.panel-transparent Label{
	-fx-text-fill:white;
}

.panel-dark{
	-fx-background-color: solid-pane-color;
	-fx-padding:10,10,10,10;
}

.panel-dark Label{
	-fx-text-fill:white;
}

.jfx-rippler {
    -jfx-rippler-fill: theme-secondary-color;
}

.jfx-popup,
.jfx-popup .jfx-popup-container,
.jfx-popup .jfx-list-view{
    -fx-background-color:solid-pane-color;
}
.progress-bar-error > .bar {
    -fx-background-color: red;
}

ProgressIndicator{
	-fx-progress-color: theme-primary-color;
}

.jfx-spinner .arc {
    -fx-stroke: theme-primary-color;
}


.jfx-snackbar-content {
    -fx-background-color: solid-pane-color;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;   
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081; 
}

.store-product-bloc{
	-fx-background-color: rgba(66,66,66, 0.7);
}


.context-menu {
  -fx-background-color: solid-pane-color;
  -fx-text-fill: white;
}

.context-menu .menu-item:focused {
  -fx-background-color: solid-pane-hover-color;
}

.context-menu .menu-item .label {
  -fx-text-fill: white;
}



.scroll-pane{
 -fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

/****************************************************************
 
  ScrollBar Skin | inspired by farrukhobaid work
 
****************************************************************/
.scroll-bar{
 -fx-background-color: transparent;
 -fx-background-radius: 1em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 1em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 1em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2px;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2px;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(250,250,250);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 1em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 1em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}

.scroll-bar .increment-arrow:pressed{
 -fx-background-color: rgb(250,250,250);
	
}

.scroll-bar .decrement-arrow:pressed{
 -fx-background-color: rgb(250,250,250);
	
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}
