#mainPane{
	-fx-background-color:linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

JFXTreeView{
	-fx-background-color:rgb(66,66,66);
	-fx-text-fill:white;
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-insets: 0, 1;
    -fx-padding: 1;
}
JFXTreeView:focused{
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	
}

.tree-view, .tree-cell {
    -fx-background-color: rgb(66,66,66) ;
    -fx-text-fill: white ;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: white;
}

.jfx-tab-pane *.tab-header-background{
	-fx-background-color:rgb(66,66,66);
}

.small-tree-view *.tab *.tab-label{
	-fx-font-size: 15px;
}