/****************************************************************
 Global Theme rules
****************************************************************/

.root{
	card-pane-darkshade-color: rgb(48,48,48);
	card-pane-color: rgb(66,66,66);
	card-pane-lightshade-color: rgb(96,96,96);
	
	disabled-color: rgb(160,160,160);
	danger-color: #d9534f;
	success-color: rgb(40, 167, 69);
	prompt-text-color: #4D4D4D;
	
	theme-primary-color: #e5dd92;
	theme-secondary-color: #ebc8ae;
	
	text-color: #F5F5F1;
	text-emphase-color: lightgrey;
}

#mainPane{
	-fx-background-color: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}


JFXDialog{
	-fx-background-color: rgba(0,0,0,0.5);
}
JFXDialog Label{
	-fx-text-fill: text-color;
}

.jfx-dialog .jfx-text-field {
	-fx-prompt-text-fill: rgb(140, 140, 140);
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: card-pane-color;
}


Label{ 
 	-fx-text-fill: text-color;
}
.label-danger{
	-fx-text-fill: danger-color;
}
.label-disabled{
	-fx-text-fill: disabled-color;
}
.label-dark{
	-fx-text-fill: rgb(40,40,40);
}
.label-emphase {
	-fx-text-fill: text-emphase-color;
}
.label-small {
	-fx-font-size: 12.0;
}
.heading-title {
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-margin: 0,0,8,0;
}
.heading-1{
	-fx-font-size: 22px;
	-fx-margin: 0,0,8,0;
}
.heading-2{
	-fx-font-size: 20px;
}
Text{ 
 	-fx-fill: text-color;
}
.text-disabled{
	-fx-fill: disabled-color;
}
.text-danger{
	-fx-fill: disabled-color;	
}
JFXTextField{
	-fx-text-fill: text-color;
	-jfx-focus-color: theme-secondary-color;
	-fx-prompt-text-fill: prompt-text-color;
}


.jfx-chip-view {
	-fx-max-height: 45px ;
}
.jfx-chip-view .chips-pane .text-area {
	-fx-prompt-text-fill: prompt-text-color;
	-fx-pref-height: 32px;
	-fx-height: 32px;
	-fx-max-height: 32px;
}
.jfx-chip-view .jfx-chip Label {
    -fx-text-fill: black;
}
.chip-blue {
	-fx-background-color: #b2675e;
}
.chip-red {
	-fx-background-color: #A1887F;
}
.chip-green {
	-fx-background-color: #C5E1A5;
}
.fake-chip{
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 12.0;
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 40px;
    -fx-padding: 2px 8px 2px 8px;
    -fx-pref-height: 24px;
    -fx-alignment: center-left;
    -fx-spacing: 8;
}
.fake-chip Label {
    -fx-text-fill: black;
}


JFXButton{
	-fx-text-fill: text-color;
	-fx-background-color: rgba(0,0,0,0.1);
}
.button-danger{
	-fx-background-color: danger-color;
	
}
.button-danger:hover{
	-fx-background-color: #c9302c;
}

.button-danger:pressed{
	-fx-background-color: #ac2925;
}
.button-success{
	-fx-background-color: success-color;
}
.button-info {
	-fx-background-color: #2980b9;
}


.hyperlink-button{
	-fx-underline: false;
	-fx-text-fill: text-color;
}
.hyperlink-button:hover{
	-fx-underline: false;
	-fx-text-fill: text-color;
}
.hyperlink-button:visited{
	-fx-underline: false;
	-fx-text-fill: text-color;
}
.hyperlink-dark{
	-fx-text-fill: rgb(40,40,40);
}
.hyperlink-dark:focused {
	-fx-border-color: null ;
	-fx-border-style: solid ;
	-fx-border-width: 0px;
}

.hyperlink-disabled{
	-fx-text-fill: disabled-color;
}
.hyperlink-disabled:focused {
	-fx-border-color: null ;
	-fx-border-style: solid ;
	-fx-border-width: 0px;
}

.hyperlink-web:visited {
	-fx-text-fill: disabled-color;
}


JFXToggleButton{
	-fx-text-fill: text-color;
}


JFXComboBox{
	-jfx-focus-color: theme-secondary-color;
}
.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: card-pane-color;
    -fx-text-fill: white;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: card-pane-lightshade-color;
}
.combo-box .list-cell{
	-fx-text-fill: white;
}
#accountComboBox {
	-fx-prompt-text-fill: transparent;
}


JFXCheckBox {
     -fx-text-fill: text-color; 
}
JFXCheckBox .box {
     -fx-border-color: white;
}
JFXCheckBox:selected .box{
	-fx-border-color: transparent;
}
 
 
JFXTreeView{
	-fx-background-color:card-pane-color;
	-fx-text-fill: text-color;
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-insets: 0, 1;
    -fx-padding: 1;
}
JFXTreeView:focused{
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	
}

.tree-view, .tree-cell {
    -fx-background-color: card-pane-color;
    -fx-text-fill: text-color;
}
.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: white;
}
.tree-cell .selection-bar {
    -fx-background-color: theme-primary-color;
}
.jfx-tab-pane *.tab-header-background{
	-fx-background-color: card-pane-color;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: theme-primary-color;
}

.no-header-tab-pane {
    -fx-tab-max-height: 0;
} 
.no-header-tab-pane > .tab-header-area {
    visibility: hidden;
}
.small-tab-pane *.tab *.tab-label{
	-fx-font-size: 15px;
	-fx-font-weight: normal;
}

.jfx-drawer-side-pane {
    -fx-background-color: card-pane-color;
}
.menu-item:hover{
	-fx-background-color: card-pane-lightshade-color;
}

JFXListView{
	-fx-background-color: rgb(55,55,55);
	-fx-text-fill: text-color;
	
}
.list-view .list-cell{
	-fx-background-color: rgb(44,44,44);
	-fx-text-fill: text-color;
}
.autocomplete-list {
	-fx-background-color:card-pane-color;
}
.autocomplete-list .list-cell{
	-fx-background-color: card-pane-color;
	-fx-text-fill: text-color;
}


.jfx-rippler {
    -jfx-rippler-fill: theme-secondary-color;
}


.jfx-popup,
.jfx-popup .jfx-popup-container,
.jfx-popup .jfx-list-view{
    -fx-background-color:card-pane-color;
}


.progress-bar-error > .bar {
    -fx-background-color: red;
}

.progress-bar-link .bar {
	-fx-background-color: rgb(143,143,143);
}

.progress-bar-link .track {
	-fx-background-color: card-pane-color;
}

ProgressIndicator{
	-fx-progress-color: theme-primary-color;
}
.jfx-spinner .arc {
    -fx-stroke: theme-primary-color;
}


.jfx-snackbar-content {
    -fx-background-color: card-pane-color;
}
.jfx-snackbar-toast {
    -fx-text-fill: text-color;   
}


.context-menu {
  -fx-background-color: card-pane-color;
  -fx-text-fill: text-color;
}
.context-menu .menu-item:focused {
  -fx-background-color: card-pane-lightshade-color;
}
.context-menu .menu-item .label {
  -fx-text-fill: text-color;
}


/****************************************************************
  App section theme
****************************************************************/

.header {
	-fx-background-color: card-pane-color;
}
.header .combobox{
	-fx-background-color:card-pane-color;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-text-fill: text-color;
}

.pane-card {
	-fx-background-color: card-pane-color;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-padding: 10,10,10,10;
}
.pane-card .card-title {
	-fx-height: 37;
	-fx-padding: 5,5,5,5;
	-fx-background-color: card-pane-darkshade-color; 
	-fx-margin: 0,0,10,0;
}
.pane-card .card-title Label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: disabled-color;
}

.pane-card .jfx-text-field {
	-fx-prompt-text-fill: rgb(140, 140, 140);
}


.product-bloc-header{
	-fx-background-color: rgba(0,0,0, 0.85);
	-fx-padding:10,10,10,10;
}


.shape-success {
	-fx-fill: success-color;
}

.shape-disabled {
	-fx-fill: disabled-color;
}



/****************************************************************
 * 
 * Utilities
 * 
 * **************************************************************/
 
 .no-padding {
 	-fx-padding: 0;
 }

/****************************************************************
 
  ScrollBar Skin | inspired by farrukhobaid work
 
****************************************************************/
.scroll-pane{
 -fx-background-color: transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-bar{
 -fx-background-color: transparent;
 -fx-background-radius: 1em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 1em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 1em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2px;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2px;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(250,250,250);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 1em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 1em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}

.scroll-bar .increment-arrow:pressed{
 -fx-background-color: rgb(250,250,250);
	
}

.scroll-bar .decrement-arrow:pressed{
 -fx-background-color: rgb(250,250,250);
	
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}
