/****************************************************************
 Global Theme rules
****************************************************************/


.root {

    /* Atlantafx colors mapping

     -color-fg-default;
     -color-fg-muted;
     -color-fg-subtle;
     -color-fg-emphasis;

     -color-bg-default;
     -color-bg-overlay;
     -color-bg-subtle;
     -color-bg-inset;

     -color-border-default;
     -color-border-muted;
     -color-border-subtle;
     -color-shadow-default;

     -color-neutral-emphasis-plus;
     -color-neutral-emphasis;
     -color-neutral-muted;
     -color-neutral-subtle;

     -color-accent-fg;
     -color-accent-emphasis;
     -color-accent-muted;
     -color-accent-subtle;

     -color-success-fg;
     -color-success-emphasis;
     -color-success-muted;
     -color-success-subtle;

     -color-warning-fg;
     -color-warning-emphasis;
     -color-warning-muted;
     -color-warning-subtle;

     -color-danger-fg;
     -color-danger-emphasis;
     -color-danger-muted;
     -color-danger-subtle;

     */
    -fx-font-family: "Segoe UI";

    disabled-color: -color-neutral-muted;
    danger-color: -color-danger-subtle;
    warning-color: -color-warning-fg;
    success-color: -color-success-fg;

    theme-primary-color: -color-accent-fg;

    text-color: -color-fg-default;
    text-emphase-color: -color-fg-emphasis;
}

#mainPane {
    -fx-background-color: -color-bg-default;
}

.dialog-overlay-pane>StackPane {
    -fx-background-color: -color-bg-default;
}

Label {
    -fx-text-fill: text-color;
}

.label-success {
    -fx-text-fill: success-color;
}

.label-danger {
    -fx-text-fill: danger-color;
}

.label-warning {
    -fx-text-fill: warning-color;
}

.label-disabled {
    -fx-text-fill: disabled-color;
}

.label-emphase {
    -fx-text-fill: text-emphase-color;
}

.heading-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-margin: 0, 0, 8, 0;
}

.heading-1 {
    -fx-font-size: 22px;
    -fx-margin: 0, 0, 8, 0;
}

.heading-2 {
    -fx-font-size: 20px;
}

Text {
    -fx-fill: text-color;
}

.text-disabled {
    -fx-fill: disabled-color;
}

.text-danger {
    -fx-fill: danger-color;
}


.table-view .cell-unknown-link,
.table-view .cell-unknown-link:hover {
    -fx-background-color: disabled-color;
}

.table-view .cell-found-link,
.table-view .cell-found-link:hover {
    -fx-background-color: success-color;
}

.table-view .cell-missing-link,
.table-view .cell-missing-link:hover {
    -fx-background-color: danger-color;
}

.table-view {
    -fx-border-width: 0px;
}

.search-bar-chip-view {
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-border-color: -color-border-default;
}

.chip-view {
    -fx-max-height: 100px;
}

.chip-view .chips-pane .text-area {
    -fx-text-fill: text-color;
}

.chip Button {
    -fx-background-color: transparent;
    -fx-max-height: 20px;
    -fx-max-width: 20px;
    -fx-text-fill: black;
    -fx-border-width: 0px;
}

.chip-label {
    -fx-font-size: 12.0;
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 40px;
    -fx-padding: 2px 8px 2px 8px;
    -fx-pref-height: 32px;
    -fx-alignment: center-left;
    -fx-spacing: 8;
    -fx-text-fill: black;
}

.chip-view .chip Label {
    -fx-text-fill: black;
}

/* Used for FakeChip rendering outside of a ChipView */
.chip Label {
    -fx-text-fill: black;
}

.chip-view .chip-brown {
    -fx-background-color: #b2675e;
}

.chip-view .chip-red {
    -fx-background-color: #A1887F;
}

.chip-view .chip-green {
    -fx-background-color: #C5E1A5;
}

.chip-view .chip-blue {
    -fx-background-color: #657899
}

.fake-chip:hover {
    -fx-cursor: hand;
    -fx-background-color: #D4D4D4;
}

.button-danger {
    -fx-background-color: danger-color;

}

.button-danger:hover {
    -fx-background-color: #c9302c;
}

.button-danger:pressed {
    -fx-background-color: #ac2925;
}

.button-success {
    -fx-background-color: success-color;
}

.button-info {
    -fx-background-color: #2980b9;
}


.hyperlink-button {
    -fx-underline: false;
    -fx-text-fill: text-color;
}

.hyperlink-button:hover {
    -fx-underline: false;
    -fx-text-fill: text-color;
}

.hyperlink-button:visited {
    -fx-underline: false;
    -fx-text-fill: text-color;
}

.hyperlink-dark {
    -fx-text-fill: rgb(40, 40, 40);
}

.hyperlink-dark:focused {
    -fx-border-color: null;
    -fx-border-style: solid;
    -fx-border-width: 0px;
}

.hyperlink-disabled {
    -fx-text-fill: -color-fg-muted;
}

.hyperlink-disabled:focused {
    -fx-border-color: null;
    -fx-border-style: solid;
    -fx-border-width: 0px;
}

.hyperlink-web:visited {
    -fx-text-fill: disabled-color;
}

.combo-box .combo-box-popup .list-view,
.combo-box .combo-box-popup .list-cell {
    -fx-text-fill: white;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: -color-bg-subtle;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.no-header-tab-pane {
    -fx-tab-max-height: 0;
}

.no-header-tab-pane>.tab-header-area {
    visibility: hidden;
}

.drawer-side-pane {
    -fx-background-color: -color-bg-default;
}


.autocomplete-list .list-cell {
    -fx-text-fill: text-color;
}

.popup,
.popup .popup-container,
.popup .list-view {
    -fx-background-color: -color-bg-default;
}

.progress-bar-error>.bar {
    -fx-background-color: -color-danger-fg;
}

.progress-bar-link {
    dot_color: rgb(143, 143, 143);
}

ProgressIndicator {
    -fx-progress-color: theme-primary-color;
}

.context-menu {
    -fx-background-color: -color-bg-default;
    -fx-text-fill: text-color;
}

.tooltip {
    -fx-text-fill: text-color;
}

/****************************************************************
  App section theme
****************************************************************/

.header {
    -fx-background-color: -color-bg-subtle;
}

.header .combo-box-base {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-text-fill: text-color;
}

/* Change the content area background */
#tabPaneHeader .tab-content-area {
    -fx-background-color: -color-bg-subtle;
}

/* Change the tab header area background */
#tabPaneHeader .tab-header-area .tab-header-background {
    -fx-background-color: -color-bg-subtle;
}

#accountComboBox {
    -fx-prompt-text-fill: transparent;
    -fx-background-color: -color-bg-subtle;
}

.task-bar-footer {
    -fx-background-color: -color-bg-inset;
}


.pane-card {
    -fx-padding: 10, 10, 10, 10;
    -fx-border-width: 1px;
    -fx-border-color: -color-border-default;
}

.pane-card .card-title {
    -fx-height: 37;
    -fx-padding: 5, 5, 5, 5;
    -fx-background-color: -color-bg-subtle;
    -fx-margin: 0, 0, 10, 0;
}

.pane-card .card-title Label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: disabled-color;
}

.package-bloc-title {
    -fx-background-color: rgba(0, 0, 0, 0.85);
    -fx-padding: 10, 10, 10, 10;
}


.package-source-badge {
    -fx-background-color: rgba(245, 245, 241, 1);
    -fx-text-fill: disabled-color;
    -fx-background-radius: 0 0 0 5px;
    -fx-border-radius: 0 0 0 5px;
    -fx-padding: 5;
    -fx-border-style: solid;
    -fx-border-color: disabled-color;
    -fx-border-width: 0 0 1 1;
}

.badge {
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-border-width: 0;
}

.shape-state-active {
    -fx-fill: success-color;
}

.shape-state-unstable {
    -fx-fill: danger-color;
}

.shape-state-installed {
    -fx-fill: #94d3a3;
}

.shape-state-disabled {
    -fx-fill: disabled-color;
}

/****************************************************************
  JavaFx Charts theme
****************************************************************/

.default-color0.chart-pie {
    -fx-pie-color: #116A7B;
}

.default-color1.chart-pie {
    -fx-pie-color: #85586F;
}

.default-color2.chart-pie {
    -fx-pie-color: #7F8B52;
}

.default-color3.chart-pie {
    -fx-pie-color: #FFDBA4;
}

.default-color4.chart-pie {
    -fx-pie-color: #47A992;
}

.default-color5.chart-pie {
    -fx-pie-color: #C84B31;
}

.default-color6.chart-pie {
    -fx-pie-color: #BCCC9A;
}

.default-color7.chart-pie {
    -fx-pie-color: #968C83;
}

.chart-pie {
    -fx-border-width: 0px;
}

.chart-legend {
    -fx-background-color: -color-bg-default;
}

.chart-legend>.label {
    -fx-text-fill: text-color;
}

.chart-pie-label {
    -fx-fill: text-color;
}

.chart-pie-label-line {
    -fx-stroke: -color-fg-subtle;
    -fx-fill: -color-fg-subtle;
}

.doughnut-inner-circle {
    -fx-fill: -color-bg-default;
}

.preloader .progress-bar {
    dot_color: disabled-color;
}

/****************************************************************
 *
 * Utilities
 *
 * **************************************************************/

.scroll-pane>.viewport {
    -fx-background-color: transparent;
}

.no-padding {
    -fx-padding: 0;
}