name: Owlplug Dev

on: 
  push:
    branches:
      - '**'
      - '!master'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        distribution: 'adopt'
        java-version: 25
        cache: 'maven'
    - name: Build maven parent project
      run: mvn -B install -DskipTests
    - name: Run Test
      run: mvn test
